.gitignore
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition_4": {
                "actions": {
                    "Set_variable_2": {
                        "inputs": {
                            "name": "StartTime",
                            "value": "@{addHours(body('Current_time'), -24)}"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    }
                },
                "else": {
                    "actions": {
                        "For_each_3": {
                            "actions": {
                                "Condition_2": {
                                    "actions": {
                                        "Set_variable_5": {
                                            "inputs": {
                                                "name": "StartTime",
                                                "value": "@{addHours(body('Current_time'), -24)}"
                                            },
                                            "runAfter": {},
                                            "type": "SetVariable"
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "Set_variable": {
                                                "inputs": {
                                                    "name": "StartTime",
                                                    "value": "@items('For_each_3')?['TimeGenerated']"
                                                },
                                                "runAfter": {},
                                                "type": "SetVariable"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_3')?['TimeGenerated']",
                                                    "@null"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {},
                                    "type": "If"
                                }
                            },
                            "foreach": "@body('Run_query_and_list_results')?['value']",
                            "runAfter": {},
                            "type": "Foreach"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@body('Run_query_and_list_results')?['value']",
                                null
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Run_query_and_list_results": [
                        "Succeeded",
                        "Failed"
                    ]
                },
                "type": "If"
            },
            "Current_time": {
                "inputs": {},
                "kind": "CurrentTime",
                "runAfter": {},
                "type": "Expression"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "NextPage",
                            "type": "integer",
                            "value": 1
                        }
                    ]
                },
                "runAfter": {
                    "Current_time": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_2": {
                "inputs": {
                    "variables": [
                        {
                            "name": "StartTime",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_3": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AvailbleUri",
                            "type": "string",
                            "value": "https://manage.office.com/api/v1.0/243ebaed-00d0-4690-a7dc-75893b0d9f98/activity/feed/subscriptions/content?contentType=Audit.AzureActiveDirectory&PublisherIdentifier=243ebaed-00d0-4690-a7dc-75893b0d9f98&startTime=@{variables('StartTime')}&endTime=@{body('Current_time')}"
                        }
                    ]
                },
                "runAfter": {
                    "Condition_4": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_4": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Audit.Exchange",
                            "type": "string",
                            "value": "https://manage.office.com/api/v1.0/243ebaed-00d0-4690-a7dc-75893b0d9f98/activity/feed/subscriptions/content?contentType=Audit.Exchange&PublisherIdentifier=243ebaed-00d0-4690-a7dc-75893b0d9f98&startTime=@{variables('StartTime')}&endTime=@{body('Current_time')}"
                        }
                    ]
                },
                "runAfter": {
                    "Condition_4": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_5": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Audit.SharePoint",
                            "type": "string",
                            "value": "https://manage.office.com/api/v1.0/243ebaed-00d0-4690-a7dc-75893b0d9f98/activity/feed/subscriptions/content?contentType=Audit.SharePoint&PublisherIdentifier=243ebaed-00d0-4690-a7dc-75893b0d9f98&startTime=@{variables('StartTime')}&endTime=@{body('Current_time')}"
                        }
                    ]
                },
                "runAfter": {
                    "Condition_4": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_6": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Audit.General",
                            "type": "string",
                            "value": "https://manage.office.com/api/v1.0/243ebaed-00d0-4690-a7dc-75893b0d9f98/activity/feed/subscriptions/content?contentType=Audit.General&PublisherIdentifier=243ebaed-00d0-4690-a7dc-75893b0d9f98&startTime=@{variables('StartTime')}&endTime=@{body('Current_time')}"
                        }
                    ]
                },
                "runAfter": {
                    "Condition_4": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Run_query_and_list_results": {
                "inputs": {
                    "body": "NYP_AAD_Logs_CL\n| summarize arg_max(CreationTime_t, *)",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/queryData",
                    "queries": {
                        "resourcegroups": "npt0001-azr-266-LogAnalyticsWorkspace",
                        "resourcename": "npt0001-azr-266-cnc-default",
                        "resourcetype": "Log Analytics Workspace",
                        "subscriptions": "/subscriptions/243ebaed-00d0-4690-a7dc-75893b0d9f98",
                        "timerange": "Last 24 hours"
                    }
                },
                "runAfter": {
                    "Initialize_variable_2": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Until": {
                "actions": {
                    "Condition": {
                        "actions": {},
                        "else": {
                            "actions": {
                                "For_each": {
                                    "actions": {
                                        "HTTP_2": {
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://manage.office.com",
                                                    "clientId": "c607f33f-43db-498e-bcd7-98c46f445e3d",
                                                    "secret": "_~9.D9FJsGBQj-D3k.UdfF3z19LYrHXK7e",
                                                    "tenant": "243ebaed-00d0-4690-a7dc-75893b0d9f98",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "headers": {
                                                    "Accept": "application/json",
                                                    "Content-Type": "application/json"
                                                },
                                                "method": "GET",
                                                "uri": "@items('For_each')['contentUri']"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "Send_Data": {
                                            "inputs": {
                                                "body": "@{body('HTTP_2')}",
                                                "headers": {
                                                    "Log-Type": "NYP_AAD_Logs"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/api/logs"
                                            },
                                            "runAfter": {
                                                "HTTP_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "foreach": "@body('Parse_JSON')",
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Parse_JSON": {
                                    "inputs": {
                                        "content": "@body('HTTP')",
                                        "schema": {
                                            "items": {
                                                "properties": {
                                                    "contentCreated": {
                                                        "type": "string"
                                                    },
                                                    "contentExpiration": {
                                                        "type": "string"
                                                    },
                                                    "contentId": {
                                                        "type": "string"
                                                    },
                                                    "contentType": {
                                                        "type": "string"
                                                    },
                                                    "contentUri": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "contentType",
                                                    "contentId",
                                                    "contentUri",
                                                    "contentCreated",
                                                    "contentExpiration"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ParseJson"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@length(body('HTTP'))",
                                        0
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "HTTP": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "Condition_3": {
                        "actions": {
                            "Set_variable_3": {
                                "inputs": {
                                    "name": "AvailbleUri",
                                    "value": "@{outputs('HTTP')['headers']?['NextPageUri']}"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "else": {
                            "actions": {
                                "Set_variable_4": {
                                    "inputs": {
                                        "name": "NextPage",
                                        "value": 0
                                    },
                                    "runAfter": {},
                                    "type": "SetVariable"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@outputs('HTTP')['headers']?['NextPageUri']",
                                            null
                                        ]
                                    }
                                }
                            ]
                        },
                        "runAfter": {
                            "Condition": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "HTTP": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://manage.office.com",
                                "clientId": "c607f33f-43db-498e-bcd7-98c46f445e3d",
                                "secret": "_~9.D9FJsGBQj-D3k.UdfF3z19LYrHXK7e",
                                "tenant": "243ebaed-00d0-4690-a7dc-75893b0d9f98",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "headers": {
                                "Accept": "application/json",
                                "Content-Type": "application/json"
                            },
                            "method": "GET",
                            "uri": "@variables('AvailbleUri')"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "expression": "@equals(variables('NextPage'), 0)",
                "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                },
                "runAfter": {
                    "Initialize_variable_3": [
                        "Succeeded"
                    ]
                },
                "type": "Until"
            },
            "Until_2": {
                "actions": {
                    "Condition_5": {
                        "actions": {},
                        "else": {
                            "actions": {
                                "For_each_2": {
                                    "actions": {
                                        "HTTP_4": {
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://manage.office.com",
                                                    "clientId": "c607f33f-43db-498e-bcd7-98c46f445e3d",
                                                    "secret": "_~9.D9FJsGBQj-D3k.UdfF3z19LYrHXK7e",
                                                    "tenant": "243ebaed-00d0-4690-a7dc-75893b0d9f98",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "headers": {
                                                    "Accept": "application/json",
                                                    "Content-Type": "application/json"
                                                },
                                                "method": "GET",
                                                "uri": "@items('For_each_2')['contentUri']"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "Send_Data_2": {
                                            "inputs": {
                                                "body": "@{body('HTTP_4')}",
                                                "headers": {
                                                    "Log-Type": "NYP_EXO_Logs"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/api/logs"
                                            },
                                            "runAfter": {
                                                "HTTP_4": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "foreach": "@body('Parse_JSON_2')",
                                    "runAfter": {
                                        "Parse_JSON_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Parse_JSON_2": {
                                    "inputs": {
                                        "content": "@body('HTTP_3')",
                                        "schema": {
                                            "items": {
                                                "properties": {
                                                    "contentCreated": {
                                                        "type": "string"
                                                    },
                                                    "contentExpiration": {
                                                        "type": "string"
                                                    },
                                                    "contentId": {
                                                        "type": "string"
                                                    },
                                                    "contentType": {
                                                        "type": "string"
                                                    },
                                                    "contentUri": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "contentType",
                                                    "contentId",
                                                    "contentUri",
                                                    "contentCreated",
                                                    "contentExpiration"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ParseJson"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@length(body('HTTP_3'))",
                                        0
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "HTTP_3": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "Condition_6": {
                        "actions": {
                            "Set_variable_6": {
                                "inputs": {
                                    "name": "Audit.Exchange",
                                    "value": "@{outputs('HTTP_3')['headers']?['NextPageUri']}"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "else": {
                            "actions": {
                                "Set_variable_7": {
                                    "inputs": {
                                        "name": "NextPage",
                                        "value": 0
                                    },
                                    "runAfter": {},
                                    "type": "SetVariable"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@outputs('HTTP_3')['headers']?['NextPageUri']",
                                        ""
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Condition_5": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "HTTP_3": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://manage.office.com",
                                "clientId": "c607f33f-43db-498e-bcd7-98c46f445e3d",
                                "secret": "_~9.D9FJsGBQj-D3k.UdfF3z19LYrHXK7e",
                                "tenant": "243ebaed-00d0-4690-a7dc-75893b0d9f98",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "headers": {
                                "Accept": "application/json",
                                "Content-Type": "application/json"
                            },
                            "method": "GET",
                            "uri": "@variables('Audit.Exchange')"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "expression": "@equals(variables('NextPage'), 0)",
                "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                },
                "runAfter": {
                    "Initialize_variable_4": [
                        "Succeeded"
                    ]
                },
                "type": "Until"
            },
            "Until_3": {
                "actions": {
                    "Condition_7": {
                        "actions": {},
                        "else": {
                            "actions": {
                                "For_each_4": {
                                    "actions": {
                                        "HTTP_6": {
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://manage.office.com",
                                                    "clientId": "c607f33f-43db-498e-bcd7-98c46f445e3d",
                                                    "secret": "_~9.D9FJsGBQj-D3k.UdfF3z19LYrHXK7e",
                                                    "tenant": "243ebaed-00d0-4690-a7dc-75893b0d9f98",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "headers": {
                                                    "Accept": "application/json",
                                                    "Content-Type": "application/json"
                                                },
                                                "method": "GET",
                                                "uri": "@items('For_each_4')['contentUri']"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "Send_Data_3": {
                                            "inputs": {
                                                "body": "@{body('HTTP_6')}",
                                                "headers": {
                                                    "Log-Type": "NYP_SPO_Logs"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/api/logs"
                                            },
                                            "runAfter": {
                                                "HTTP_6": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "foreach": "@body('Parse_JSON_3')",
                                    "runAfter": {
                                        "Parse_JSON_3": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Parse_JSON_3": {
                                    "inputs": {
                                        "content": "@body('HTTP_5')",
                                        "schema": {
                                            "items": {
                                                "properties": {
                                                    "contentCreated": {
                                                        "type": "string"
                                                    },
                                                    "contentExpiration": {
                                                        "type": "string"
                                                    },
                                                    "contentId": {
                                                        "type": "string"
                                                    },
                                                    "contentType": {
                                                        "type": "string"
                                                    },
                                                    "contentUri": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "contentType",
                                                    "contentId",
                                                    "contentUri",
                                                    "contentCreated",
                                                    "contentExpiration"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ParseJson"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@length(body('HTTP_5'))",
                                        0
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "HTTP_5": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "Condition_8": {
                        "actions": {
                            "Set_variable_8": {
                                "inputs": {
                                    "name": "Audit.SharePoint",
                                    "value": "@{outputs('HTTP_5')['headers']?['NextPageUri']}\n"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "else": {
                            "actions": {
                                "Set_variable_9": {
                                    "inputs": {
                                        "name": "NextPage",
                                        "value": 0
                                    },
                                    "runAfter": {},
                                    "type": "SetVariable"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@outputs('HTTP_5')['headers']?['NextPageUri']",
                                        ""
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Condition_7": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "HTTP_5": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://manage.office.com",
                                "clientId": "c607f33f-43db-498e-bcd7-98c46f445e3d",
                                "secret": "_~9.D9FJsGBQj-D3k.UdfF3z19LYrHXK7e",
                                "tenant": "243ebaed-00d0-4690-a7dc-75893b0d9f98",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "headers": {
                                "Accept": "application/json",
                                "Content-Type": "application/json"
                            },
                            "method": "GET",
                            "uri": "@variables('Audit.SharePoint')"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "expression": "@equals(variables('NextPage'), 0)",
                "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                },
                "runAfter": {
                    "Initialize_variable_5": [
                        "Succeeded"
                    ]
                },
                "type": "Until"
            },
            "Until_4": {
                "actions": {
                    "Condition_10": {
                        "actions": {
                            "Set_variable_10": {
                                "inputs": {
                                    "name": "Audit.General",
                                    "value": "@{outputs('HTTP_7')['headers']?['NextPageUri']}"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "else": {
                            "actions": {
                                "Set_variable_11": {
                                    "inputs": {
                                        "name": "NextPage",
                                        "value": 0
                                    },
                                    "runAfter": {},
                                    "type": "SetVariable"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@outputs('HTTP_7')['headers']?['NextPageUri']",
                                        ""
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Condition_9": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "Condition_9": {
                        "actions": {},
                        "else": {
                            "actions": {
                                "For_each_5": {
                                    "actions": {
                                        "HTTP_8": {
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://manage.office.com",
                                                    "clientId": "c607f33f-43db-498e-bcd7-98c46f445e3d",
                                                    "secret": "_~9.D9FJsGBQj-D3k.UdfF3z19LYrHXK7e",
                                                    "tenant": "243ebaed-00d0-4690-a7dc-75893b0d9f98",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "headers": {
                                                    "Accept": "application/json",
                                                    "Content-Type": "application/json"
                                                },
                                                "method": "GET",
                                                "uri": "@items('For_each_5')['contentUri']"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "Send_Data_4": {
                                            "inputs": {
                                                "body": "@{body('HTTP_8')}",
                                                "headers": {
                                                    "Log-Type": "NYP_General_logs"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/api/logs"
                                            },
                                            "runAfter": {
                                                "HTTP_8": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "foreach": "@body('Parse_JSON_4')",
                                    "runAfter": {
                                        "Parse_JSON_4": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Parse_JSON_4": {
                                    "inputs": {
                                        "content": "@body('HTTP_7')",
                                        "schema": {
                                            "items": {
                                                "properties": {
                                                    "contentCreated": {
                                                        "type": "string"
                                                    },
                                                    "contentExpiration": {
                                                        "type": "string"
                                                    },
                                                    "contentId": {
                                                        "type": "string"
                                                    },
                                                    "contentType": {
                                                        "type": "string"
                                                    },
                                                    "contentUri": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "contentType",
                                                    "contentId",
                                                    "contentUri",
                                                    "contentCreated",
                                                    "contentExpiration"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ParseJson"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@length(body('HTTP_7'))",
                                        0
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "HTTP_7": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "HTTP_7": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://manage.office.com",
                                "clientId": "c607f33f-43db-498e-bcd7-98c46f445e3d",
                                "secret": "_~9.D9FJsGBQj-D3k.UdfF3z19LYrHXK7e",
                                "tenant": "243ebaed-00d0-4690-a7dc-75893b0d9f98",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "headers": {
                                "Accept": "application/json",
                                "Content-Type": "application/json"
                            },
                            "method": "GET",
                            "uri": "@variables('Audit.General')"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "expression": "@equals(variables('NextPage'), 0)",
                "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                },
                "runAfter": {
                    "Initialize_variable_6": [
                        "Succeeded"
                    ]
                },
                "type": "Until"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Hour",
                    "interval": 1
                },
                "recurrence": {
                    "frequency": "Hour",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureloganalyticsdatacollector": {
                    "connectionId": "/subscriptions/67e74b49-c58f-432f-ba59-bc790bb59d69/resourceGroups/npt0001-azr-266-LogAnalyticsWorkspace/providers/Microsoft.Web/connections/azureloganalyticsdatacollector",
                    "connectionName": "azureloganalyticsdatacollector",
                    "id": "/subscriptions/67e74b49-c58f-432f-ba59-bc790bb59d69/providers/Microsoft.Web/locations/southeastasia/managedApis/azureloganalyticsdatacollector"
                },
                "azuremonitorlogs": {
                    "connectionId": "/subscriptions/67e74b49-c58f-432f-ba59-bc790bb59d69/resourceGroups/npt0001-azr-266-LogAnalyticsWorkspace/providers/Microsoft.Web/connections/azuremonitorlogs",
                    "connectionName": "azuremonitorlogs",
                    "id": "/subscriptions/67e74b49-c58f-432f-ba59-bc790bb59d69/providers/Microsoft.Web/locations/southeastasia/managedApis/azuremonitorlogs"
                }
            }
        }
    }
}
